# New Project (Postgres 16)
CHECKLIST_DB_NAME=checklist_system
CHECKLIST_DB_USER=checklist_user
CHECKLIST_DB_PASSWORD=change_me_strong_password
CHECKLIST_DB_PORT=5432

# Old Project (Postgres 14)
TEAM_EVAL_DB_NAME=team_evaluation
TEAM_EVAL_DB_USER=postgres
TEAM_EVAL_DB_PASSWORD=change_me_postgres_password
TEAM_EVAL_DB_PORT=5434

# Redis (New Project)
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password
