DB_NAME=checklist_system
DB_USER=checklist_user
DB_PASSWORD=change_me_strong_password
DB_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password
JWT_SECRET=change_me_super_secret_jwt_key_at_least_32_chars
ENCRYPTION_KEY=change_me_64_char_hex_string_for_aes256_encryption_key_here_xxxx
